# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
.cquery_cache/
__pycache__/
# binaries, databases, protobuf sockets
dump.rdb
multicast_test
reduce_test
allreduce_test
gather_test
allgather_test
*.pb.h
notification

python/object_store_pb2*.py

# logs
log/
mpi_log/
gloo_log/

python/*.cpp
.DS_Store

*.csv
*.json
cmake-build-debug/
.idea/

# generated plots
*.pdf
